body {
  font-family: 'Roboto';
}

h3 {
  font-size: 30px;
  font-family: OCR A Std, monospace;
  color: #015901;
}

.main-container {
  display: block;
  margin-top: 20%;
  background-color: red;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #77DD77;
  box-shadow: 4px 2px 2px #0000;
  width: 100%;
  min-height: 10%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 100px;
}

.navbar-left {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.navbar-right {
  padding-right: 30px;
}

.navbar-item {
  font-size: 20px;
  font-family: OCR A Std, monospace;
  color: #015901;
}