body {
  font-family: Roboto;
}

h3 {
  font-size: 30px;
  font-family: OCR A Std, monospace;
  color: #015901;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-family: OCR A Std, monospace;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  padding-top: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

.header h2 {
  font-size: 30px;
  font-family: OCR A Std, monospace;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  flex-direction: row;
  background-color: #77dd77;
  box-shadow: 4px 2px 2px #0000;
  width: 100%;
  min-height: 10%;
  top: 0;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 100px;
}

.navbar-left {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.navbar-right {
  padding-right: 30px;
}

.navbar-item {
  font-size: 26px;
  font-family: OCR A Std, monospace;
  color: #015901;
}

.action-bar {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.action-button {
  flex-direction: row;
  margin-bottom: 0;
}

.modal-header {
  display: flex;
}

.modal-header h2 {
  font-size: 26px;
  font-weight: bold;
  font-family: OCR A Std, monospace;
  color: #015901;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content text {
  font-size: 20px;
  font-family: Roboto;
  letter-spacing: 1.5px;
}

.table-header {
  background-color: #77dd77;
  color: #015901;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}
